################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/java/基础语法/.idea/vcs.xml
/src/python/基础语法/.vscode
/src/python/基础语法/.vs
